.header {
  margin-bottom: 16px;

  &__container {
    text-align: center;
    padding: 25px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);

    > h1 {
      color: #8f9097;
      margin-bottom: 8px;
      font-size: 1rem;
    }

    > h2 {
      color: #272d45;
      font-size: 1.266rem;
    }
  }

  &__navigation {

    &__container {
      padding: 0 16px;
      display: flex;
      justify-content: space-evenly;

      &__step {
        display: block;
        position: relative;
        flex: 0 0 20%;
        padding-top: 18px;
        position: relative;
        text-align: center;
        width: 100px;

        &:before {
          background: #fff;
          border-radius: 50%;
          box-shadow: 0 0 4px rgba(0,0,0,.3);
          content: "";
          display: block;
          height: 24px;
          left: 50%;
          padding-left: 1px;
          padding-top: 1px;
          position: absolute;
          top: 0;
          transform: translate(-50%,-50%);
          width: 24px;
        }
        
        &--isActive {
          &:before {
            background: #f8ece9;
          }
        }

        &:hover {
          color: #8f9097;
          cursor: default;
          text-decoration: none;
        }
      }
    }
  }
}
