body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8;
  color: #272d45;
  font-size: .889rem;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
